@import './null.scss';
@import './home.scss';

$poppins: "Poppins", sans-serif;

.wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background-color: #fff;
}
.container {
    width: 496px;
    height: 100%;
    margin: 0 auto;
    border-radius: 28px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 2px 6px 0 rgba(0, 0, 0, 0.04), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
    background: linear-gradient(180deg, );
}
.header {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    p {
        font-family: $poppins;
        font-weight: 600;
        font-size: 30px;
        color: #007438;
        margin: 0px;
    }

    button {
        font-family: $poppins;
        font-weight: 500;
        font-size: 20px;
        color: #007438;
        padding: 5px 10px;
        border-radius: 8px;
        color: #70a6e8;
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 2px 6px 0 rgba(0, 0, 0, 0.04), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
        background: #e4f0ff;
    }
}
.payment {

		// .payment__cards

		&__cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 20px;
            padding: 10px;
            padding-top: 60px;
		}

		// .payment__card

		&__card {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 2px 6px 0 rgba(0, 0, 0, 0.04), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
            background: #fff;
            padding: 22px;
            border-radius: 22px;
            cursor: pointer;
		}
}
.card {

		// .card__img

		&__img {
            width: 30px;
            margin: 20px;
		}

		// .card__info

		&__info {
            font-family: $poppins;
            font-weight: 600;
            font-size: 14px;
            color: #474747;
            padding-top: 15px;
            text-align: center;
		}
}

.img__container {
    border: 3px solid #007438;
    border-radius: 10px;
}
